info:
  title: Taskboard API
  version: 0.1.0
swagger: '2.0'
host: taskboard-srio-apim.azure-api.net
consumes:
  - application/json
produces:
  - application/json
schemes:
  - https
securityDefinitions:
  apiKeyHeader:
    type: apiKey
    name: Ocp-Apim-Subscription-Key
    in: header
  apiKeyQuery:
    type: apiKey
    name: subscription-key
    in: query
security:
  - apiKeyHeader: []
  - apiKeyQuery: []
paths:
  /lists:
    get:
      operationId: GetLists
      description: Gets all lists
      schemes:
        - https
      responses:
        '200':
          description: All lists
          schema:
            type: array
            items:
              $ref: '#/definitions/List'
          examples:
            application/json:
              - id: 34926b72-ef5a-4912-9303-0afca9c37229
                name: Example list
              - id: 311a1015-6fb6-4ab4-a039-f8d63aed784a
                name: Example list 2
    post:
      operationId: CreateList
      description: Creates a list
      responses:
        '201':
          description: List successfully created
      parameters:
        - in: body
          name: list
          description: The list to create.
          schema:
            type: object
            required:
              - name
            properties:
              name:
                type: string
  '/list/{id}':
    get:
      operationId: GetList
      description: Gets a list
      schemes:
        - https
      responses:
        '200':
          description: The list
          schema:
            $ref: '#/definitions/List'
          examples:
            application/json:
              id: 34926b72-ef5a-4912-9303-0afca9c37229
              name: Example list
      parameters:
        - name: id
          in: path
          required: true
          type: string
    delete:
      operationId: DeleteList
      description: Deletes a list
      responses:
        '204':
          description: List successfully deleted
      parameters:
        - name: id
          in: path
          required: true
          type: string
  '/list/{listid}/tasks':
    post:
      operationId: CreateTask
      description: Creates a task
      responses:
        '201':
          description: Task successfully created
      parameters:
        - name: listid
          in: path
          required: true
          type: string
        - name: task
          in: body
          required: true
          schema:
            $ref: '#/definitions/Task'
  '/list/{listid}/task/{taskid}':
    get:
      operationId: GetTask
      description: Gets a task
      responses:
        '200':
          description: The task
          schema:
            $ref: '#/definitions/Task'
          examples:
            application/json:
              id: f471f83c-10ed-46d3-9442-9f2a3c99de0f
              name: Example task
              description: Example description
      parameters:
        - name: listid
          in: path
          required: true
          type: string
        - name: taskid
          in: path
          required: true
          type: string
    put:
      operationId: UpdateTask
      description: Updates a Task
      responses:
        '204':
          description: Task successfully updated
      parameters:
        - name: listid
          in: path
          required: true
          type: string
        - name: taskid
          in: path
          required: true
          type: string
        - in: body
          name: task
          description: The task properties to updated.
          schema:
            type: object
            required:
              - name
              - description
            properties:
              name:
                type: string
              description:
                type: string
    delete:
      operationId: DeleteTask
      description: Deletes a Task
      responses:
        '204':
          description: Task successfully deleted
      parameters:
        - name: listid
          in: path
          required: true
          type: string
        - name: taskid
          in: path
          required: true
          type: string
  '/list/{fromlistid}/task/{taskid}/parent':
    put:
      operationId: MoveTask
      description:
        'Moves a Task'
      responses:
        '204':
          description: Task successfully moved
      parameters:
        - name: fromlistid
          in: path
          required: true
          type: string
        - name: taskid
          in: path
          required: true
          type: string
        - in: body
          name: parent
          description: The parent properties for use in the move.
          schema:
            type: object
            required:
              - id
            properties:
              id:
                type: string
definitions:
  List:
    type: object
    properties:
      id:
        type: string
      name:
        type: string
    required:
      - id
      - name
  Task:
    type: object
    properties:
      id:
        type: string
      name:
        type: string
      description:
        type: string
    required:
      - id
      - name
      - description
